<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Payments from Patients</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    
                </div>
                <div class="panel-body">
                    
                    <div *ngIf="patientRecordMode === ''">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label>Search Patient</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <input type="text" class="form-control" placeholder="Search by File#">
                                            </div>
                                            <div class="col-xs-4">
                                                <button class="btn btn-success btn-outline">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>
             </div>
         </div>
     </div>
     
 </section> <!-- /.content -->
