<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Asset Register</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="btn"> 
                        <button type="button" class="btn btn-success m-r-2 m-b-5" data-toggle="modal" data-target="#add-edit-modal" (click)="clear()">New</button>
                        <button type="button" class="btn btn-success m-r-2 m-b-5" (click)="print()">Print</button>
                    </div>
                </div>
                <div class="panel-body">
                    
                    <div class="col-sm-12" style="height: 100%; overflow: scroll;">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                            </div>
                        </div>
                        <br>
                        <table class="table table-bordered table-small">
                            <thead>
                                <tr>
                                    <td>code</td>
                                    <td>Asset Name</td>
                                    <td>Multiple</td>
                                    <td>Qty</td>
                                    <td>Unit Price</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let asset of assets | searchFilter : filterRecords">
                                    <td>{{asset.code}}</td>
                                    <td>{{asset.name}}</td>
                                    <td>{{asset.multiple}}</td>
                                    <td>{{asset.qty}}</td>
                                    <td style="text-align: right;">{{asset.price | currency:'':''}}</td>
                                    <td>
                                        <button class="btn btn-primary btn-outline" (click)="getAsset(asset.id)" data-toggle="modal" data-target="#add-edit-modal" style="margin: 1px;"><i class="fa fa-pencil text-primary"></i>Edit</button>
                                        <button class="btn btn-danger btn-outline" (click)="deleteAsset(asset.id)" style="margin: 1px;"><i class="fa fa-trash text-danger"></i> Delete</button>
                                        <!--<button class="btn btn-primary" (click)="getCashier(cashier.id)" (click)="clearUser()" data-toggle="modal" data-target="#assign-user-profile" style="margin: 1px;">Assign User Profile</button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
         </div>
     </div>     
 </section> <!-- /.content -->

 <!-- Modal success -->
 <div class="modal fade modal-success" id="add-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" *ngIf="id === null">Add Asset</h1>
                <h1 class="modal-title" *ngIf="id != null">Edit Asset</h1>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <input type="hidden" [(ngModel)]="id">
                        <div class="col-xs-12">
                            <label>Code*</label>
                            <input type="text" class="form-control" [(ngModel)]="code">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Name*</label>
                            <input type="text" class="form-control" [(ngModel)]="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="checkbox" [(ngModel)]="multiple">
                            <label>Multiple</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Unit Price*</label>
                            <input type="number" class="form-control" [(ngModel)]="price" style="text-align: center;" min="0">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Qty*</label>
                            <input type="number" class="form-control" [(ngModel)]="qty" min="0">
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveAsset()"><span *ngIf="id != null">Update</span><span *ngIf="id === null">Add</span></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    

