<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>User Profile</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <a routerLink="/home"><button class="btn btn-primary btn-outline" data-mdb-toggle="tooltip" title="Go to Home dashboard"><i class="glyphicon glyphicon-home"></i>Home</button></a>
                    <button class="btn btn-primary btn-outline" *ngIf="grant(['ADMIN-ACCESS'])" (click)="clearFields()" (click)="unlockInputs()" data-mdb-toggle="tooltip" title="Create a new User"><i class="glyphicon glyphicon-file"></i>New</button>
                    <button class="btn btn-primary btn-outline" *ngIf="grant(['ADMIN-ACCESS'])" (click)="unlockInputs()" data-mdb-toggle="tooltip" title="Edit an existing User"><i class="glyphicon glyphicon-pencil"></i>Edit</button>
                    <button class="btn btn-primary btn-outline" *ngIf="grant(['USER-D'])" (click)="deleteUser()" [disabled]="enableSave === false" data-mdb-toggle="tooltip" title="Delete an existing User"><i class="glyphicon glyphicon-trash"></i>Delete</button>
                    <button class="btn btn-primary btn-outline" *ngIf="grant(['ADMIN-ACCESS'])" (click)="saveUser()" [disabled]="enableSave === false" data-mdb-toggle="tooltip" title="Save or Update an existing User"><i class="glyphicon glyphicon-floppy-disk"></i>Save</button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="hidden" name="id" [(ngModel)]="id">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <button class="btn btn-success form-control" *ngIf="grant(['USER-ALL'])" (click)="getUser(username)"><i class="glyphicon glyphicon-search"></i>Search by Username</button>                               
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Code</h4>
                                    <input type="text" name="code" [(ngModel)]="code" class="form-control input-sm special" readonly autocomplete="off">                               
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Username*</h4>
                                    <input class="form-control input-sm special" type="text" name="username" [(ngModel)]="username" list="users" [readonly]="usernameLocked" minlength="6" maxlength="50" autocomplete="off">                               
                                    <datalist id="users" style="padding: 0px;">
                                        <option *ngFor="let user of users" [ngValue]="user">{{user.username}}</option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Password* (6 or more characters)</h4>
                                    <input class="form-control input-sm special" type="password" name="password" [(ngModel)]="password" [readonly]="passwordLocked" autocomplete="new-password">                               
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Confirm Password*</h4>
                                    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control input-sm special" [readonly]="passwordConfLocked" autocomplete="off">                               
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>First Name*</h4>
                                    <input class="form-control input-sm special" type="text" name="firstName" [(ngModel)]="firstName" [readonly]="firstNameLocked" autocomplete="off">                               
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Middle Name</h4>
                                    <input type="text" name="middleName" [(ngModel)]="middleName" class="form-control input-sm special" [readonly]="middleNameLocked" autocomplete="off">                               
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Last Name*</h4>
                                    <input type="text" name="lastName" [(ngModel)]="lastName" class="form-control input-sm special" [readonly]="lastNameLocked" autocomplete="off">                               
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Nickname*</h4>
                                    <input type="text" name="nickname" [(ngModel)]="nickname" class="form-control input-sm special" [readonly]="aliasLocked" autocomplete="off">                               
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="checkbox" id="active" name="active" [(ngModel)]="active"><label for="active"> Active</label><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                        <div class="col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td style="font-weight: bold;">Default Roles</td>
                                        <td style="font-weight: bold;">Organization Roles</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="margin: 2mm;">
                                            <div class="row">
                                                <div class="col-12" *ngFor="let role of roles">
                                                    <span *ngIf="role.owner === 'SYSTEM'">
                                                        <input type="checkbox" id="role.name" name="role.name" [(ngModel)]="role.granted"><label for="{{role.name}}">{{role.name}}</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="margin: 2mm;">
                                            <div class="row">
                                                <div class="col-12" *ngFor="let role of roles">
                                                    <span *ngIf="role.owner === 'ORGANIZATION'">
                                                        <input type="checkbox" id="role.name" name="role.name" [(ngModel)]="role.granted"><label for="{{role.name}}">{{role.name}}</label>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 table-responsive" style="overflow: scroll;">
                            <br>
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                                </div>
                            </div>
                            <br>
                            <table class="table table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <td>Code</td>
                                        <td>Name</td>
                                        <td>Nickname</td>
                                        <td>Active</td>
                                        <td>Select</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users | searchFilter : filterRecords">
                                        <td>{{user.code}}</td>
                                        <td>{{user.lastName}}, {{user.firstName}}</td>
                                        <td>{{user.nickname}}</td>
                                        <td>{{user.active}}</td>
                                        <td>[<a (click)="getUser(user.username)" style="cursor: pointer;">Select</a>]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
             </div>
         </div>
     </div>     
 </section> <!-- /.content -->
