<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Nurse Chart - Outsider</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="btn-group"> 
                        <!--<a class="btn btn-primary" routerLink="/list-from-reception" style="margin: 1px;"> <i class="fa fa-list"></i>List From Reception</a>-->
                        <!--<a class="btn btn-primary" routerLink="/my-consultation" style="margin: 1px;"> <i class="fa fa-list"></i>My Consultations</a>-->
                        <a class="btn btn-primary" routerLink="/patient-history-menu" (click)="setGlobalPatientId()" style="margin: 1px;"> <i class="fa fa-history"></i>Patient History</a> 
                        <!--<a class="btn btn-primary" (click)="loadWardCategories()" (click)="loadWardTypes()" data-toggle="modal" data-target="#send-to-ward-modal" style="margin: 1px;"> <i class="fa fa-hotel"></i> Send To Ward</a> 
                        <a class="btn btn-primary" (click)="clearTransferClinic()" data-toggle="modal" data-target="#transfer-modal" style="margin: 1px;"> <i class="fa fa-hotel"></i> Transfer to other Clinic</a>
                        <a class="btn btn-primary" routerLink="/deceased-note" (click)="setGlobalPatientId()" style="margin: 1px;"> <i class="fa fa-sign-out"></i>Deceased Note</a>
                        <a class="btn btn-primary" routerLink="/referral-plan" (click)="setGlobalPatientId()" style="margin: 1px;"> <i class="fa fa-sign-out"></i>Referral Plan</a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 alert alert-primary" role="alert">
                            <h3 class="text-primary"><b>(Outsider)</b>, Name: <b>{{nonConsultation?.patient?.firstName}} {{nonConsultation?.patient?.middleName}} {{nonConsultation?.patient?.lastName}}</b>, File No: <b>{{nonConsultation?.patient?.no}}</b>, <b>Date of Birth: {{nonConsultation.patient.dateOfBirth | date}} Age: {{nonConsultation.patient.dateOfBirth | age}}</b>, {{nonConsultation?.patient?.gender}}, {{nonConsultation.paymentType}} {{nonConsultation?.insurancePlan?.name}}</h3>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label>Patient Vitals</label>
                                <div class="jumbotron jumbotron-fluid">                               
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6" style="margin-bottom: 3mm;"><input type="text" class="form-control" [(ngModel)]="gEPressure" placeholder="Pressure(mmHg)"></div>
                                            <div class="col-sm-6" style="margin-bottom: 3mm;"><input type="text" class="form-control" [(ngModel)]="gETemperature" placeholder="Temparature(c)"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6" style="margin-bottom: 3mm;"><input type="text" class="form-control" [(ngModel)]="gEPulseRate" placeholder="Pulse Rate(b/Min)"></div>
                                            <div class="col-sm-6" style="margin-bottom: 3mm;"><input type="text" class="form-control" [(ngModel)]="gEWeight" placeholder="Weight(kg)"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6" style="margin-bottom: 3mm;"><input type="text" class="form-control" [(ngModel)]="gEHeight" placeholder="Height(cm)"></div>
                                            <div class="col-sm-6" style="margin-bottom: 3mm;"><input type="text" class="form-control" [(ngModel)]="gEBodyMassIndex" placeholder="Body Mass Index(kg/m)"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6" style="margin-bottom: 3mm;"><input type="text" class="form-control" [(ngModel)]="gEBodySurfaceArea" placeholder="Body Surface Area(cmkg)"></div>
                                            <div class="col-sm-6" style="margin-bottom: 3mm;"><input type="text" class="form-control" [(ngModel)]="gEBodyMassIndexComment" placeholder="Body Mass Index Comment"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6" style="margin-bottom: 3mm;"><input type="text" class="form-control" [(ngModel)]="gESaturationOxygen" placeholder="Saturation Oxygen(%)"></div>
                                            <div class="col-sm-6" style="margin-bottom: 3mm;"><input type="text" class="form-control" [(ngModel)]="gERespiratoryRate" placeholder="Respiratory Rate(cycles/Min)"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12" style="margin-bottom: 3mm;"><textarea class="form-control" [(ngModel)]="gEDescription" placeholder="Description"></textarea></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12" style="margin-bottom: 3mm; text-align: center;"><button class="btn btn-primary" (click)="saveCG()">Save</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Procedure Details</label>
                                <div class="jumbotron jumbotron-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover  table-striped">
                                                    <thead class="success">
                                                    <tr>
                                                        <th>Procedure</th>
                                                        <th>Price</th>
                                                        <th>Payment</th>
                                                        <th>Status</th>
                                                        <th>Procedure Note</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let procedure of procedures">
                                                            <td>{{procedure.procedureType?.name}}</td>
                                                            <td style="text-align: right;"><span *ngIf="procedure.patientBill?.status != 'COVERED'">{{procedure.patientBill?.amount | currency:'':''}}</span><span *ngIf="procedure.patientBill?.status === 'COVERED'">---</span></td>
                                                            <td>
                                                                <span *ngIf="procedure.patientBill?.status === 'COVERED' && nonConsultation.paymentType ==='INSURANCE'">{{procedure.patientBill?.status}}</span>
                                                                <span *ngIf="procedure.patientBill?.status != 'COVERED' && nonConsultation.paymentType !='INSURANCE'">{{procedure.patientBill?.status}}</span>
                                                                <span *ngIf="procedure.patientBill?.status != 'COVERED' && nonConsultation.paymentType ==='INSURANCE'">{{procedure.patientBill?.status}}(NOT COVERED)</span>
                                                            </td>
                                                            <td>{{procedure.status}}</td>
                                                            <td>
                                                                <a (click)="showProcedureNote(procedure.id, procedure.procedureType.name, procedure.note)" *ngIf="(procedure.patientBill?.status === 'COVERED' || procedure.patientBill?.status === 'PAID') && procedure.note === null" data-toggle="modal" data-target="#add-procedure-note-to-procedure-modal"><i class="fa fa-file"></i></a>
                                                                <a (click)="showProcedureNote(procedure.id, procedure.procedureType.name, procedure.note)" *ngIf="(procedure.patientBill?.status === 'COVERED' || procedure.patientBill?.status === 'PAID') && procedure.note != null" data-toggle="modal" data-target="#view-procedure-note-to-procedure-modal"><i class="fa fa-eye"></i> View</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
     
</section> <!-- /.content -->

<div class="modal fade modal-success" id="add-procedure-note-to-procedure-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Add/Edit Procedure Note</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-info">{{procedureTypeName}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <h4>Procedure Note</h4>
                        <textarea class="form-control" [(ngModel)]="procedureNote" style="height: 3cm;" placeholder="Procedure Note"></textarea>
                    </div>
                </div>   
                   
               <div class="modal-footer">
                   <button type="button" class="btn btn-success pull-right" (click)="saveProcedureNote()" data-dismiss="modal">Save</button>
               </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<div class="modal fade modal-success" id="view-procedure-note-to-procedure-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">View Procedure Note</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-info">{{procedureTypeName}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <h4>Procedure Note</h4>
                        <textarea class="form-control" [(ngModel)]="procedureNote" style="height: 3cm;" placeholder="Procedure Note" disabled></textarea>
                    </div>
                </div>   
                   
               <div class="modal-footer">
                   <!--<button type="button" class="btn btn-success pull-right" (click)="saveProcedureNote()" data-dismiss="modal">Save</button>-->
               </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<div class="modal fade modal-success" id="view-attachment-modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document" style="width: 75%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title"></h2>
            </div>
            <div class="modal-body">
                <img [src]="attachmentUrl" *ngIf="fileExtension != 'pdf'" style="height: 100%; width: 100%;">                
                <pdf-viewer [src]="attachmentUrl" *ngIf="fileExtension === 'pdf'" [render-text]="true" [fit-to-page]="true" [autoresize]="true" [zoom-scale]="'page-width'" [original-size]="true" style="height: 100%; width: 100%;"></pdf-viewer>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->