<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Pharmacy - Sales Order (<span class="text-primary">{{pharmacyName}}</span>)</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <button class="btn btn-primary btn-outline" routerLink="/pharmacy-sales-order">New Sales Order</button>
                    <button class="btn btn-primary btn-outline">Save</button>
                    <button class="btn btn-primary btn-outline">Give Medicine</button>
                    <button class="btn btn-primary btn-outline">Cancel</button>
                    <button class="btn btn-primary btn-outline">Archive</button>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Order#</td>
                                        <td><span class="form-control"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Customer#</td>
                                        <td><span class="form-control"></span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button style="width: 50mm; margin: 3px;">New Customer</button><br>
                                            <button style="width: 50mm; margin: 3px;">Existing Customer</button>
                                        </td>
                                        <td>
                                            <div>
                                                <input class="form-control" placeholder="Enter Name">
                                                <input class="form-control" placeholder="Enter Phone">
                                            </div>
                                            <div>
                                                <input class="form-control" placeholder="Search By Name/Phone">
                                                <span class="form-control"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Status</td>
                                        <td>PENDING</td>
                                    </tr>
                                    <tr>
                                        <td>Created</td>
                                        <td>2024-07-30 12:01:50 Hamida A Mwaluko</td>
                                    </tr>
                                    <tr>
                                        <td>Approved</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <hr>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="Search Medicine">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" style="text-align: center;" placeholder="Enter Quantity">
                                </div>
                                <div class="col-sm-3">
                                    <span class="form-control"></span>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-success">Add</button>
                                </div>
                            </div>
                            <br>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="success">
                                    <tr>
                                        <th>Drug</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Paracetamol 100ml</td>
                                            <td>30</td>
                                            <td style="text-align: right;">100.00</td>
                                            <td style="text-align: right;">9,000.00</td>
                                            <td><button class="btn btn-success" >Remove</button></td>
                                        </tr>
                                        <tr>
                                            <td>Paracetamol 100ml</td>
                                            <td>30</td>
                                            <td style="text-align: right;">100.00</td>
                                            <td style="text-align: right;">9,000.00</td>
                                            <td><button class="btn btn-success" >Remove</button></td>
                                        </tr>
                                        <tr>
                                            <td>Paracetamol 100ml</td>
                                            <td>30</td>
                                            <td style="text-align: right;">100.00</td>
                                            <td style="text-align: right;">9,000.00</td>
                                            <td><button class="btn btn-success" >Remove</button></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr style="font-weight: bold;">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align: right;">9,000.00</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>    
                            </div>
                        </div>
                    </div>
                    
                </div> 
                    
            </div>
        </div>
    </div>
     
</section> <!-- /.content -->