<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Inpatient List</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="btn-group"> 
                        <a class="btn btn-primary btn-outline" routerLink="/list-from-reception" style="margin: 1px;"> <i class="fa fa-list"></i>List From Reception</a>  
                        <a class="btn btn-primary btn-outline" routerLink="/my-consultation" style="margin: 1px;"> <i class="fa fa-list"></i>My Consultations</a> 
                        <a class="btn btn-primary" routerLink="/doctor-inpatient-list" style="margin: 1px;"> <i class="fa fa-list"></i>Inpatient List</a>  
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12" style="height: 100%; overflow: scroll;">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                            </div>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-small">
                                <thead class="success">
                                <tr>
                                    <th>Name</th>
                                    <th>Patient's File No</th>
                                    <th>Payment Type</th>
                                    <th>Gender</th>
                                    <th>Ward</th>
                                    <th>Bed/Room</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let a of admissions | searchFilter : filterRecords">
                                        <td>{{a?.patient?.firstName+' '+a?.patient?.middleName+' '+a?.patient?.lastName}}</td>
                                        <td>{{a?.patient?.no}}</td>
                                        <td>{{a?.patient?.paymentType}}</td>
                                        <td>{{a?.patient?.gender}}</td>
                                        <td>{{a?.wardBed?.ward?.name}}</td>
                                        <td>{{a?.wardBed?.no}}</td>
                                        <td><a class="btn btn-success" (click)="postAdmission(a.id)">Attend</a></td>
                                    </tr>
                                </tbody>
                            </table>   
                        </div>
                    </div>
                     
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="success">
                        <tr>
                            
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>    
                </div>  
            </div>
        </div>
    </div>
</section> <!-- /.content -->