<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Receive from other Pharmacy(Pharmacy Goods Receiving Note) | <span class="text-primary">Pharmacy - {{pharmacyName}}</span></h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <button class="btn btn-primary btn-outline" data-toggle="modal" data-target="#requisition-order-list-modal">Requisition Order List</button>
                    <button class="btn btn-primary btn-outline" data-toggle="modal" data-target="#pharmacy-receiving-note-list-modal">Pharmacy GRN List</button>
                    <button class="btn btn-primary btn-outline" (click)="clear()">New Receiving Note</button>
                </div>
                <div class="panel-body">
                    <div class="row" *ngIf="pharmacyToPharmacyRN?.id === null">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <h4 class="text-primary">Enter Store Requisition Order#</h4>
                            <input type="text" class="form-control" [(ngModel)]="pharmacyToPharmacyRONo">
                            <br>
                            <button class="btn btn-primary pull-right" (click)="createGRN(null, pharmacyToPharmacyRONo)">Create / Go to GRN</button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    
                    <div class="row" *ngIf="pharmacyToPharmacyRN?.id != null">
                        <hr>
                        <div class="col-sm-12">
                            <h5>GRN No: {{pharmacyToPharmacyRN?.no}}</h5>
                            <h5>GRN Date: {{pharmacyToPharmacyRN?.receivingDate | date}}</h5>
                            <h5>Created: {{pharmacyToPharmacyRN?.created}}</h5>
                            <h5>Verified: {{pharmacyToPharmacyRN?.verified}}</h5>
                            <h5>Approved: {{pharmacyToPharmacyRN?.approved}}</h5>
                            <h5>Status: {{pharmacyToPharmacyRN?.status}}</h5>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                                </div>
                            </div>
                            <br>
                            <table class="table table-responsive table-striped table-bordered table-small">
                                <thead>
                                    <tr style="font-weight: bold;">
                                        <td>Ordered</td>
                                        <td>Received</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let d of pharmacyToPharmacyRN?.pharmacyToPharmacyRNDetails">
                                        <td>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td><b>Code</b></td>
                                                        <td><i><small>{{d?.medicine?.code}}</small></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Name</b></td>
                                                        <td><small>{{d?.medicine?.name}}</small></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Qty/Uom</b></td>
                                                        <td><b>{{d?.orderedQty}}</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td><i><small>{{d?.medicine?.code}}</small></i></td>
                                                    </tr>
                                                    <tr>
                                                        <td><small>{{d?.medicine?.name}}</small></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>{{d?.receivedQty}}</b></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-responsive" *ngIf="d.pharmacyToPharmacyBatches.length > 0">
                                                <thead>
                                                    <tr>
                                                        <td><small>Batch#</small></td>
                                                        <td><small>Qty</small></td>
                                                        <td><small>Expiry Date</small></td>
                                                        <td><small>Check</small></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let b of d?.pharmacyToPharmacyBatches">
                                                        <td><small>{{b?.no}}</small></td>
                                                        <td><small>{{b?.qty}}</small></td>
                                                        <td><small>{{b?.expiryDate | date}}</small></td>
                                                        <td><input type="checkbox" [(ngModel)]="b.checked"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-primary pull-right" (click)="approveReceipt()">Appprove Receipt</button>
                        </div>
                    </div>
                </div> 
                    
            </div>
        </div>
    </div>
     
</section> <!-- /.content -->



<div class="modal fade modal-success" id="order-list-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Order List</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead style="position: sticky; top: 0;">
                        <tr class="table-dark">
                            <td>Order#</td>
                            <td>Order Date</td>
                            <td>Valid Until</td>
                            <td>Status</td>
                            <td>Select</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of pharmacyToPharmacyROs">
                            <td>{{p.no}}</td>
                            <td>{{p.orderDate | date}}</td>
                            <td>{{p.validUntil | date}}</td>
                            <td>{{p.status}}</td>
                            <td><span data-dismiss="modal" style="cursor: pointer;">[Select]</span></td>
                        </tr>
                    </tbody>
                </table>
                   
               
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<div class="modal fade modal-success" id="requisition-order-list-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Requisition Order List</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <td>Requisition Order#</td>
                                    <!--<td>Transfer Order#</td>-->
                                    <td>Order Summary</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of pharmacyToPharmacyROs">
                                    <td>{{p?.no}}</td>
                                    <!--<td>{{p?.storeToPharmacyTO?.no}}</td>-->
                                    <td>
                                        Requisition Order: {{p?.status}}<br>
                                        Transfer Order: {{p?.pharmacyToPharmacyTO?.status}}<br>
                                        Receiving Note:
                                    </td>
                                    <td><button class="btn btn-primary" *ngIf="p?.status === 'GOODS-ISSUED'" (click)="createGRN(p?.id, '')" data-dismiss="modal" aria-label="Close">Create / Go to GRN</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<div class="modal fade modal-success" id="pharmacy-receiving-note-list-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Store GRN List</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td>GRN#</td>
                                    <td>Status</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>GRN-273748-484</td>
                                    <td>PENDING</td>
                                    <td>select</td>
                                </tr>
                                <tr>
                                    <td>GRN-273748-484</td>
                                    <td>PENDING</td>
                                    <td>select</td>
                                </tr>
                                <tr>
                                    <td>GRN-273748-484</td>
                                    <td>PENDING</td>
                                    <td>select</td>
                                </tr>
                                <tr>
                                    <td>GRN-273748-484</td>
                                    <td>PENDING</td>
                                    <td>select</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
