<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Lab Patient List</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <a class="btn btn-default" style="margin-right: 1mm;" routerLink="/lab-outpatient-list">Outpatient List</a>
                    <a class="btn btn-default" style="margin-right: 1mm;" routerLink="/lab-inpatient-list">Inpatient List</a>
                    <a class="btn btn-success" style="margin-right: 1mm;" routerLink="/lab-outsider-list">Outsider List</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="success">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Patient's File No</th>
                                <th>Payment Type</th>
                                <th>Dr. Name</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a class="btn btn-success" (click)="attend()">Attend</a></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                </div> 
                    
            </div>
        </div>
    </div>
     
</section> <!-- /.content -->