<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Employee Register</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="btn"> 
                        <button type="button" class="btn btn-success m-r-2 m-b-5" data-toggle="modal" data-target="#add-edit-modal" (click)="clear()">New</button>
                    </div>
                </div>
                <div class="panel-body">

                    


                    
                    <div class="col-sm-12" style="height: 100%; overflow: scroll;">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                            </div>
                        </div>
                        <br>
                        <table class="table table-bordered table-small">
                            <thead>
                                <tr>
                                    <td>no</td>
                                    <td>Full Name</td>
                                    <td>Active</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let employee of employees | searchFilter : filterRecords">
                                    <td>{{employee.no}}</td>
                                    <td>{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}</td>
                                    <td>{{employee.active}}</td>
                                    <td>
                                        <button class="btn btn-primary" (click)="getEmployee(employee.id)" data-toggle="modal" data-target="#add-edit-modal" style="margin: 1px;">Edit</button>
                                        <!--<button class="btn btn-primary" (click)="getCashier(cashier.id)" (click)="clearUser()" data-toggle="modal" data-target="#assign-user-profile" style="margin: 1px;">Assign User Profile</button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
         </div>
     </div>     
 </section> <!-- /.content -->

<!-- Modal success -->
<div class="modal fade modal-success" id="add-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" *ngIf="id === null">Add Employee</h1>
                <h1 class="modal-title" *ngIf="id != null">Edit Employee</h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-primary"><b>Personal Information</b></h4>
                        <input type="hidden" [(ngModel)]="id">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Code*</h4>
                                <input type="text" class="form-control" [(ngModel)]="no" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">First Name*</h4>
                                <input type="text" class="form-control" [(ngModel)]="firstName" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Middle Name</h4>
                                <input type="text" class="form-control" [(ngModel)]="middleName">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Last Name*</h4>
                                <input type="text" class="form-control" [(ngModel)]="lastName" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">National ID No*</h4>
                                <input type="text" class="form-control" [(ngModel)]="nationalIdNo" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Phone No*</h4>
                                <input type="tel" class="form-control" [(ngModel)]="phoneNo" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Email</h4>
                                <input type="email" class="form-control" [(ngModel)]="email" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Gender*</h4>
                                <select class="form-control" [(ngModel)]="gender" >
                                    <option></option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Date of Birth*</h4>
                                <input type="date" class="form-control" [(ngModel)]="dateOfBirth" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Active</h4>
                                <input type="checkbox" [(ngModel)]="active">
                            </div>
                            <!--<div class="col-sm-4 form-group">
                                <h4 class="text-primary">Payable</h4>
                                <input type="checkbox" [(ngModel)]="payable">
                            </div>-->
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-primary"><b>Address and Contacts</b></h4>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Physical Address*</h4>
                                <input type="text" class="form-control" [(ngModel)]="physicalAddress">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Postal Address*</h4>
                                <input type="text" class="form-control" [(ngModel)]="postalAddress">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Permanent Residence*</h4>
                                <input type="text" class="form-control" [(ngModel)]="permanentResidence">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Temporary Residence*</h4>
                                <input type="text" class="form-control" [(ngModel)]="temporaryResidence">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Next of Kin*</h4>
                                <input type="text" class="form-control" [(ngModel)]="kinName" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Next of Kin Phone*</h4>
                                <input type="tel" class="form-control" [(ngModel)]="kinPhoneNo" required>
                            </div>
                            
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-primary"><b>Employment Information</b></h4>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">TIN No*</h4>
                                <input type="text" class="form-control" [(ngModel)]="tinNo" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Basic Salary*</h4>
                                <input type="number" class="form-control" [(ngModel)]="basicSalary" style="text-align: right;" min="0">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Joining Date*</h4>
                                <input type="date" class="form-control" [(ngModel)]="joiningDate" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Employment Date</h4>
                                <input type="date" class="form-control" [(ngModel)]="employmentDate">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Termination Date</h4>
                                <input type="date" class="form-control" [(ngModel)]="terminationDate">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Social Security No</h4>
                                <input type="text" class="form-control" [(ngModel)]="socialSecurityNo">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Social Security Name</h4>
                                <input type="text" class="form-control" [(ngModel)]="socialSecurityName">
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="text-primary"><b>Bank Information</b></h4>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Bank Acc No*</h4>
                                <input type="text" class="form-control" [(ngModel)]="bankAccountNo" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Bank Acc Name*</h4>
                                <input type="text" class="form-control" [(ngModel)]="bankAccountName" min="0">
                            </div>
                            <div class="col-sm-4 form-group">
                                <h4 class="text-primary">Bank Name*</h4>
                                <input type="text" class="form-control" [(ngModel)]="bankName" required>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveEmployee()"><span *ngIf="id != null">Update</span><span *ngIf="id === null">Add</span></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    

