<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Consultation Prices</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <button class="btn btn-primary btn-outline" routerLink="/registration-prices">Registration Price</button>
                    <button class="btn btn-primary" routerLink="/consultation-prices">Consultation Prices</button>
                    <button class="btn btn-primary btn-outline" routerLink="/lab-test-price">Lab Test Prices</button>
                    <button class="btn btn-primary btn-outline" routerLink="/procedure-price">Procedure Prices</button>
                    <button class="btn btn-primary btn-outline" routerLink="/radiology-price">Radiology Prices</button>
                    <button class="btn btn-primary btn-outline" routerLink="/medicine-prices">Medicine Prices</button>

                </div>
                <div class="panel-body">
                    
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="success">
                        <tr>
                            
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>    
                </div>  
            </div>
        </div>
    </div>
</section> <!-- /.content -->