<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Ward Register</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="btn"> 
                        <button type="button" class="btn btn-success m-r-2 m-b-5" data-toggle="modal" data-target="#add-edit-modal" (click)="clear()">New Ward</button>
                    </div>
                </div>
                <div class="panel-body">
                    
                    <div class="col-sm-12" style="height: 100%; overflow: scroll;">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                            </div>
                        </div>
                        <br>
                        <table class="table table-bordered table-small">
                            <thead>
                                <tr>
                                    <td>Code</td>
                                    <td>Name</td>
                                    <td>Category</td>
                                    <td>Type</td>
                                    <td>Beds/Rooms</td>
                                    <td>Price@</td>
                                    <td>Active Status</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ward of wards | searchFilter : filterRecords">
                                    <td>{{ward.code}}</td>
                                    <td>{{ward.name}}</td>
                                    <td>{{ward?.wardCategory?.name}}</td>
                                    <td>{{ward?.wardType?.name}}</td>
                                    <td style="text-align: center;">{{ward.noOfBeds}}</td>
                                    <td style="text-align: right;">{{ward?.wardType?.price | currency:'':''}}</td>
                                    <td>
                                        <span class="label-success label label-default" *ngIf="ward?.active === true">Active</span>
                                        <span class="label-success label label-default" *ngIf="ward?.active === false">Active</span>
                                    </td>
                                    <td>
                                        <a (click)="getWard(ward.id)" data-toggle="modal" data-target="#add-edit-modal"><i class="glyphicon glyphicon-pencil"></i>Edit</a> | 
                                        <a (click)="configureWard(ward.id)"><i class="glyphicon glyphicon-cog"></i>Configure</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
         </div>
     </div>     
 </section> <!-- /.content -->

 <!-- Modal success -->
 <div class="modal fade modal-success" id="add-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" *ngIf="id === null">Add Ward Type</h1>
                <h1 class="modal-title" *ngIf="id != null">Edit Ward Type</h1>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <input type="hidden" [(ngModel)]="id">
                        <div class="col-xs-12">
                            <label>Ward Code*</label>
                            <input type="text" class="form-control" [(ngModel)]="code">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Ward Name*</label>
                            <input type="text" class="form-control" [(ngModel)]="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Category</label>
                            <select class="form-control" [(ngModel)]="wardCategoryName">
                                <option></option>
                                <option *ngFor="let wardCategory of wardCategories">{{wardCategory?.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Type</label>
                            <select class="form-control" [(ngModel)]="wardTypeName">
                                <option></option>
                                <option *ngFor="let wardType of wardTypes">{{wardType?.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>No of Beds</label>
                            <input type="number" class="form-control" [(ngModel)]="noOfBeds" style="text-align: center;">
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveWard()"><span *ngIf="id != null">Update</span><span *ngIf="id === null">Add</span></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
