<section class="content-header">
    <div class="header-title">
        <div class="row">
            <div class="col-sm-4">
                <h1>Management Dashboard</h1>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-1">
                    <h4>From</h4>
                </div>
                <div class="col-sm-3">
                    <input type="date" class="form-control" [(ngModel)]="from">
                </div>
                <div class="col-sm-1">
                    <h4>To</h4>
                </div>
                <div class="col-sm-3">
                    <input type="date" class="form-control" [(ngModel)]="to">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-outline" (click)="refresh()">Update</button>
                </div>
                <div class="col-sm-1">
                    <!--<button class="btn btn-primary btn-outline" (click)="clear()">Clear</button>-->
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd cardbox">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><span class="count-number">{{newPatientsCount}}</span>
                                        </h2>
                                    </div>
                                    <div class="items pull-left">
                                        <i class="fa fa-pencil-square-o fa-2x"></i>
                                        <h4>New Patients</h4>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd cardbox">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><span class="count-number">{{existingPatientsCount}}</span>
                                        </h2>
                                    </div>
                                    <div class="items pull-left">
                                        <i class="fa fa-google-wallet fa-2x"></i>
                                        <h4>Existing Patients</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd cardbox">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><span class="count-number">{{outpatientsCount}}</span>
                                        </h2>
                                    </div>
                                    <div class="items pull-left">
                                        <i class="fa fa-blind fa-2x"></i>
                                        <h4>Outpatients</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd cardbox">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><span class="count-number">{{inpatientsCount}}</span>
                                        </h2>
                                    </div>
                                    <div class="items pull-left">
                                        <i class="fa fa-bed fa-2x"></i>
                                        <h4>Inpatients</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd cardbox">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><span class="count-number">{{dischargedPatientsCount}}</span>
                                        </h2>
                                    </div>
                                    <div class="items pull-left">
                                        <i class="fa fa-check-square-o fa-2x"></i>
                                        <h4>Discharged Patients</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd cardbox">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><span class="count-number">{{totalPatientsCount}}</span>
                                        </h2>
                                    </div>
                                    <div class="items pull-left">
                                        <i class="fa fa-plus-square fa-2x"></i>
                                        <h4>Total Patients</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                            <div class="panel panel-bd cardbox">
                                <div class="panel-body">
                                    <div class="statistic-box">
                                        <h2><span class="count-number">{{activeUsers - 1}}</span>
                                        </h2>
                                    </div>
                                    <div class="items pull-left">
                                        <i class="fa fa-user-plus fa-2x"></i>
                                        <h4>Total Active Employees</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h4>Doctor Performance</h4>
                                    </div>
                                    
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table" style="border-style: none; border-width: 0px; border: none;">
                                        <thead>
                                            <tr style="border: none;">
                                                <td style="width: 20%; text-align: right;"><b>Doctor</b></td>
                                                <td style="width: 80%;"><b>No of Patients</b>.  <span style="background-color: #009688; color: white;" >Outpatients</span> <span style="background-color: #14097e; color: white;" >Inpatients</span> </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border: none;" *ngFor="let report of clinicianPerformanceReport">
                                                <td style="width: 20%; text-align: right;"><b>{{report.name}}</b></td>
                                                <td style="width: 80%;">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div *ngIf="report.type === 'OUTPATIENT'" style="height: 80%; border-radius: 5px; background-color: #009688; text-align: right;" [style.width.%]='report.percentage'>. <span class="badge">{{report.total}}</span></div>
                                                            <div *ngIf="report.type === 'INPATIENT'" style="height: 80%; border-radius: 5px; background-color: #14097e; text-align: right;" [style.width.%]='report.percentage'>. <span class="badge">{{report.total}}</span></div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr style="border: none;">
                                                <td style="width: 20%;"></td>
                                                <td style="width: 80%;"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h4>Monthly Patients Summary</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        Select Year
                                        <select [(ngModel)] = "selectedYear">
                                            <option>{{currentYear}}</option>
                                            <option *ngFor="let y of years">{{y}}</option>
                                        </select>
                                        <button (click)="updateMonthlyReport(selectedYear)">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table" style="overflow-x: scroll;">
                                        <thead>
                                            <tr style="text-align: center; font-weight: bold;">
                                                <td style="background-color: #d3d8d8;">Jan</td>
                                                <td>Feb</td>
                                                <td style="background-color: #d3d8d8;">Mar</td>
                                                <td>Apr</td>
                                                <td style="background-color: #d3d8d8;">May</td>
                                                <td>Jun</td>
                                                <td style="background-color: #d3d8d8;">Jul</td>
                                                <td>Aug</td>
                                                <td style="background-color: #d3d8d8;">Sep</td>
                                                <td>Oct</td>
                                                <td style="background-color: #d3d8d8;">Nov</td>
                                                <td>Dec</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #009688;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #212242;"></div>
                                                        <div class="col-sm-3" style="height: 10cm; background-color: #442626;"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr style="text-align: center; font-weight: bold;">
                                                <td style="background-color: #d3d8d8;">Jan</td>
                                                <td>Feb</td>
                                                <td style="background-color: #d3d8d8;">Mar</td>
                                                <td>Apr</td>
                                                <td style="background-color: #d3d8d8;">May</td>
                                                <td>Jun</td>
                                                <td style="background-color: #d3d8d8;">Jul</td>
                                                <td>Aug</td>
                                                <td style="background-color: #d3d8d8;">Sep</td>
                                                <td>Oct</td>
                                                <td style="background-color: #d3d8d8;">Nov</td>
                                                <td>Dec</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>     
</section> <!-- /.content -->


