<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-title">
        <h1>Diagnosis Type</h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="panel panel-bd lobidrag">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success m-r-2 m-b-5" (click)="clear()" data-toggle="modal" data-target="#add-edit-modal">New</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary btn-outline" (click)="exportTemplateToExcel()"><i class="fa fa-file-excel-o"></i> Template</button>
                            <button class="btn btn-primary btn-outline" (click)="exportDiagnosisToExcel()"><i class="fa fa-file-excel-o"></i> Excel</button>
                        </div>
                        <div class="col-sm-3">
                            <h5>Upload from Excel <span>Progress: {{progressStatus}} {{currentRecord}} of {{totalRecords}}</span></h5>
                            <input type="file" (change)="uploadDiagnosisFile($event)" multiple="false">
                        </div>
                    </div>
                        
                        
                </div>
                <div class="panel-body">
                    <div class="col-sm-12" style="height: 100%; overflow: scroll;">
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control pull-right" [(ngModel)]="filterRecords" placeholder="Search..." style="max-width: 8cm;">
                            </div>
                        </div>
                        <br>
                        <table class="table table-bordered table-small">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Code</td>
                                    <td>Name</td>
                                    <td>Description</td>
                                    <td>Status</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let diagnosisType of diagnosisTypes | searchFilter : filterRecords">
                                    <td>{{diagnosisType.id}}</td>
                                    <td>{{diagnosisType.code}}</td>
                                    <td>{{diagnosisType.name}}</td>
                                    <td>{{diagnosisType.description}}</td>
                                    <td><span class="label label-info" *ngIf="diagnosisType.active === true">Active</span><span class="label label-danger" *ngIf="diagnosisType.active === false">Inactive</span></td>
                                    <td><a (click)="getDiagnosisType(diagnosisType.id)" data-toggle="modal" data-target="#add-edit-modal"><i class="glyphicon glyphicon-pencil"></i>Edit</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
         </div>
     </div>     
 </section> <!-- /.content -->

 <!-- Modal success -->
 <div class="modal fade modal-success" id="add-edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1 class="modal-title" *ngIf="id === null">Add Diagnosis Type</h1>
                <h1 class="modal-title" *ngIf="id != null">Edit Diagnosis Type</h1>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <input type="hidden" [(ngModel)]="id">
                        <div class="col-xs-12">
                            <label>Code*</label>
                            <input type="text" class="form-control" [(ngModel)]="code">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Diagnosis Type Name*</label>
                            <input type="text" class="form-control" [(ngModel)]="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Description</label>
                            <input type="text" class="form-control" [(ngModel)]="description">
                        </div>
                    </div>                                     
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Active</label>
                            <input type="checkbox" [(ngModel)]="active" style="text-align: right;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveDiagnosisType()"><span *ngIf="id != null">Update</span><span *ngIf="id === null">Add</span></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->